html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-attachment: fixed;
}

@font-face{
    font-family: "Sahel";
    src: url("https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font@v3.4.0/dist/Sahel.woff2")
}

body{
    font-family: "Sahel";
}

a{
    text-decoration: none;
}

.header{
    height: 900px;
    background-color: #88878a;
    background-image: url("../img/snail.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: whitesmoke;
    padding-top: 25px;
    text-align: center;
}

.nav{
    list-style-type: none;
    position: sticky;
    top: 0px;
    width: 100%;
    /* background-color: hsla(0, 0%, 52%, .25); */
}

.nav i{
    display: none;
}

.nav .list-item a{
    color: white;
    text-shadow: 
        1px 1px 5px black,
        -1px -1px 5px black;
}

.nav .list-item{
    display: inline-block;
    padding: 15px;
}

.nav .list-item:hover{
    transition: 0.05s;
    transform: scale(1.1);
}

.nav .list-item a:hover{
    color: orange;
}

.title{
    /* font-size: 75px; */
    padding-top: 50px;
    font-size: 7vw;
    margin-top: 100px;
}

.header h1 span{
    color: orange;
}

.header p{
    color: rgb(255, 136, 0);
    background-color: hsl(0, 0%, 0%, 0.75);
    height: 10cqb;
    width: 50cqb;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    line-height: 60px;
    border-radius: 15px;
    border: 1px solid beige;   
    cursor: grab;
}

.header p:hover{
    transition: 0.1s;
    box-shadow: inset
        0px 0px 15px brown;
        /* 0 -2px 15px orange; */
    transform: scale(1.005);
}






.members{
    background-color: aliceblue;
    text-align: center;
    padding: 75px 0;
}

.member-list{
    list-style-type: none;
    /* background-color: inherit; */
    margin-top: 25px;
}

.member-item{
    width: 350px;
    display: inline-block;
    margin: 25px;
    background-color: whitesmoke;
    box-shadow: 0 0 10px 1px lightslategray ;
}

.member-name{
    font-size: 25px;
    margin-top: 5px;
}

.member-pic{
    width: 100%;
    height: 100%;
}

.member-bio{
    padding: 15px;
    text-align: justify;
}


.about{
    height: 950px;
    background-image: url("../img/farm.jpg");
    background-color: #858585;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 175px;
}

.circle{
    width: 600px;
    height: 600px;
    background-color: rgba(0, 0, 0, .75);
    margin: auto;
    border-radius: 50%;
    text-align: center;
    padding: 80px 120px;
    color: whitesmoke;
}

.circle p{
    text-align: justify;
    margin-top: 30px;
}

.circle h2{
    font-size: 32px;
}

.footer{
    background-color: aliceblue;
    height: 125px;
}

.footer p{
    text-align: center;
    margin: 0;
    padding: 0;
}

.socials{
    padding: 10px;
    background-color: gray;
    margin-top: 32px;
    margin-bottom: 5px;
    text-align: center;
}

.socials img{
    margin: 0 15px;
    background-color: gray;
}

.top-btn{
    position: fixed;
    bottom: 20px;
    right: 25px;
    font-size: 50px;
    text-decoration: none;
}

.top-btn a{
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 5px green;
}



@media only screen and (max-width: 600px) {
    .nav{
        position: fixed;
        display: block;
        height: 100px;
        
    }

    .nav i{
        display: inline;
        font-size: xx-large;
        position: absolute;
        top: 25px;
        right: 10px;
    }
    
    .list-item{
        display: block;
        margin-top: 15px;
        
    }
    
    .list-item a{
        font-size: x-small;
        display: none;

    }
    
    
    .nav:hover .list-item a{ 
        display: inline-block;
    }
}